/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


  .card-main {
  display: inline-grid;
  width: 20%;
  grid-template-columns: 90% 90% 90% 90% 90%;
  grid-template-rows: 90% 90% 90% 90% 90%;
  }
  .card-box:hover h4{
    background-color: #effffb;
    width: auto;
    text-align: center;
  } 


  .img-card {
    width: 70%;
    margin-block-end: 20%;
    height: auto;
    z-index: -1;
  } 
  #full-page {
    margin-left: 10% 5%;
    /* background: rgb(32,95,134); */
    /* z-index: 1; */
    /* display: grid; */
    /* grid-template-columns: 30% 40% ;
    grid-template-rows: 50% 50%; */
    display: inline-block;
    /* background-color: rgb(32,95,134);*/
    background-color: #35477d;
    /* height: 100%; */
  }
  /* .nav-bar {
    border: green solid 1rf;
    margin: 1%;
    height: 100px;
    width: auto;
    
  } */

  /* .row .mixed-chart {
   
    color: blanchedalmond;
    font-weight: 600;
    width: 58%;
    position: relative;
    margin-left: 1%;
    font-weight: 500;
  } */

  /* .sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  } */
  .row {
    border: rgb(30, 53, 90) solid 1px;
    background-color: rgb(57, 83, 128);
    border-radius: 3%;
    float: left;
    /* border: orange solid 2px; */
    margin-left: 2px;
    z-index: 0;
  } 
 .row2 {
   float: right;
   border: rgb(30, 53, 90) solid 1px;
   background-color: rgb(30,53,92);
   border-radius: 6%;
   margin-right: 8px;
   padding: 20px;
 } 

 .row3 {
   float: center;
   margin-top: 23%;
   /* position: relative; */
   float: right;
   border: rgb(30, 53, 90) solid 1px;
   background-color: rgb(30,53,92);
   border-radius: 6%;
 }